/* Reset de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    background: url('dedsec.gif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    z-index: 2; /* Para asegurarse que el contenido esté encima de la capa de fondo */
}

.hero .content h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.hero .content p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: orange;
}

/* Fondo oscuro semi-transparente */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
    z-index: 1; /* Para que la capa esté debajo del contenido */
}
